body{
  background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi87NG-1ZzlAhUPCjQIHVCoBrEQjRx6BAgBEAQ&url=http%3A%2F%2Fwww.ox.ac.uk%2Fnews%2F2016-04-28-friends-better-morphine&psig=AOvVaw0KGVpCctxgzyBc0YImbKwY&ust=1571174008539201);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  background-color: skyblue;
  color: white;
  opacity: .75;
  margin-top: 20px;
}

#submit {
  background: skyblue;
}

#jumbo_h2 {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.panel-title {
  color:skyblue;
}